<html>
	<head>
		<title>Cadastro de Questões</title>
		<link rel="stylesheet" href="estilo.css" />
		
		<script type="text/javascript" src="plugins/jqueryDiretorio.js"></script>
		<script type="text/javascript" src="plugins/jquery_mask1.2.2.js" ></script>

		<script type="text/javascript" src="mets.js" ></script>

	</head>

	<body>
		<form action="../model/cadastrarAluno.php" name = "form" id = "form" method="post">
		<table>
		
			<tr>
			<fieldset>
			<legend> Questão </legend>
				
				 	<input type=text size= '70' maxlength= '100' name="aluno"/>
				
			</fieldset>	 	
		    </tr>

		</table>
		<input type="submit" value="Enviar" />
		</form>
	</body>
</html>		